body {
    background-color: rgb(255, 255, 255)
}

.container {
    margin: 50px;
    margin-top: 50px;

}

h1, h3, p, a {
    text-align: left;
    font-family: 'Gowun Batang', serif;
}

.score-item, .score-initials, .score-score {
    margin-left: 5px;
    margin-right: 5px
}