body {
    background-color: rgb(255, 255, 255)
}

.container {
    margin: 50px;
    margin-top: 50px
}

h1, h3, p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

button, #start {
    margin:0 auto;
    display: block;
    text-align: center;
}

#initialsInput, #submit, .card {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px
}

#initialsInput {
    width: 730px;
}

.choices {
    color:rgb(215, 199, 247);
}