body {
    background-color: rgb(255, 255, 255);
    background-image: url("https://images.app.goo.gl/L3YfC7gT1YT4BpnR7.jpg")
}

.container {
    margin: 50px;
    margin-top: 50px
}

a, h1, h3, p {
    text-align: center;
    font-family: 'Gowun Batang', serif;
}

button, #start {
    margin:0 auto;
    display: block;
    text-align: center;
}

#question, .answer {
    margin-bottom: 5px
}

.option-button {
    margin-bottom: 10px;
    box-shadow: 10px 5px 5px black;
    font-family: 'Gowun Batang', serif;
    background-color: rgb(41, 86, 101);
    color: white;
    border-color: white;
    
}

#saveInitials, #start, #results {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#initialsInput, #submit, .card {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px
}

#initialsInput {
    width: 730px;
}

.choices {
    color:rgb(215, 199, 247);
}